<f:layout name="Default" />

<f:section name="Title">Login</f:section>

<f:section name="Content">
	<f:form action="authenticate">

		<label for="username">Username</label>
		<f:form.textfield id="username" class="form-control"
			name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" />
		<label for="password">Password</label>
		<f:form.password id="password" class="form-control"
			name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
		<br />
		<f:form.submit id="login" class="btn btn-primary" value="{f:translate(id:'flow.box.login')}" />
	</f:form>
	
</f:section>