<f:section name="BackendHeader">
		<header class="navbar navbar-inverse navbar-fixed-top bb-header" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse"
						data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li class="first {f:if(condition: activeMenu.Dashboard, then: 'active')}">
							<f:link.action action="index" controller="Dashboard" subpackage="Backend">DashBoard</f:link.action>
						</li>
						<li class="{f:if(condition: activeMenu.Page, then: 'active')}">
							<f:link.action action="page" controller="Dashboard" subpackage="Backend">Page</f:link.action>
						</li>
						<li class="{f:if(condition: activeMenu.Project, then: 'active')}">
							<f:link.action action="index" controller="Project" subpackage="Backend">Project</f:link.action>
						</li>
						<li class="last {f:if(condition: activeMenu.Account, then: 'active')}">
							<f:link.action action="index" controller="Account" subpackage="Backend">Account</f:link.action>
						</li>
					</ul>
					<ul id="lang-nav" class="nav navbar-nav navbar-right">
						<f:security.ifAuthenticated>
							<f:then>
								<li class="active">
									<f:link.action action="logout" controller="Login" subpackage="Backend">Logout<i class="lang-bg"></i></f:link.action>
								</li>
							</f:then>
							<f:else>
								<li>
									<f:link.action action="index">Login<i class="lang-bg"></i></f:link.action>
								</li>
							</f:else>
						</f:security.ifAuthenticated>
					</ul>
				</nav>
			</div>
		</header>
</f:section>
