<f:section name="Header">
		<header class="navbar navbar-inverse navbar-fixed-top bb-header" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse"
						data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li class="first">
							<f:link.action controller="Page" action="index">Page</f:link.action>
						</li>
						<li class="last">
							<a href="#">account</a>
						</li>
					</ul>
					<ul id="lang-nav" class="nav navbar-nav navbar-right">
						<f:security.ifAuthenticated>
							<f:then>
								<li>
									<f:link.action action="logout" controller="Login" subpackage="Backend">Logout<i class="lang-bg"></i></f:link.action>
								</li>
							</f:then>
							<f:else>
								<li>
									<f:link.action action="index" controller="Login" subpackage="Backend">Login<i class="lang-bg"></i></f:link.action>
								</li>
							</f:else>
						</f:security.ifAuthenticated>
					</ul>
				</nav>
			</div>
		</header>
</f:section>
