<f:section name="Header">
		<header class="navbar navbar-inverse navbar-fixed-top bb-header" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse"
						data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li class="first">
							<f:link.action controller="Page" action="index">Page</f:link.action>
						</li>
						<li class="last">
							<f:link.action controller="Account" action="index">Account</f:link.action>
						</li>
					</ul>
					<ul id="lang-nav" class="nav navbar-nav navbar-right">
						<li class="active"><a href="/index.php?id=97">Log out</a><i class="lang-bg"></i></li>
						<li><span class="hidden">Login</span></li>
					</ul>
				</nav>
			</div>
		</header>
</f:section>
