{namespace box=Flow\Box\ViewHelpers}
<f:layout name="Backend" />

<f:section name="SiteTitle">Fe Menus</f:section>
<f:section name="PageTitle">
	Fe Menus
	<f:render partial="Buttons/New" />
</f:section>

<f:section name="Content">
	<f:if condition="{feMenus}">
		<f:then>
			<input type="hidden" name="__csrfToken" value="{csrfToken->f:format.htmlspecialchars(encoding: 'ISO-8859-1')}" />
			<box:widget.paginate objects="{feMenus}" as="paginatedFeMenus" configuration="{itemsPerPage: 20}">
				<table class="table table-striped feMenu-sortable">
					<thead>
					<tr>
						<th>Name</th>
						<th>SysValue</th>
						<th>Order</th>
						<th class="action-icons">Actions</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{paginatedFeMenus}" as="feMenu">
						<tr class='click-able-Row' id="{feMenu.identity}">
							<td>{feMenu.name}</td>
							<td>{feMenu.sysValue}</td>
							<td>{feMenu.menuOrder}</td>
							<td>
								<f:link.action action="edit" arguments="{feMenu: feMenu}" class="btn btn-primary btn-xs" title="Edit">
									<span class="glyphicon glyphicon-edit"></span>
								</f:link.action>

								<f:form action="delete" arguments="{feMenu: feMenu}" class="delete-icon">
									<button type="submit" class="btn btn-sm btn-danger btn-delete" >
										<span class="glyphicon glyphicon-trash">
										</span>
									</button>
								</f:form>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</box:widget.paginate>
		</f:then>
		<f:else>
			<p>No Fe Menu created yet.</p>
		</f:else>
	</f:if>
</f:section>