.top-bar {
  border-bottom: 1px solid $topbar-border-color;
  height: $topbar-element-height;
  margin-bottom: 10px;
}

.top-bar .name h1 a,
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0;
}

.top-bar-section .has-dropdown > a:after {
  border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
}