<f:render section="LanguageTab" partial="LanguageTab"/>

<div class="tab-content">
	<br/>
	<div role="tabpanel" class="tab-pane active" id="khmerLanguage">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="labelName">Name </label>
			<div class="col-sm-5">
				<f:form.textfield property="labelName" id="labelName" class="form-control"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="sysKey">Key(unique)<span class="required">*</span></label>
			<div class="col-sm-5">
				<f:security.ifHasRole role="Flow.Box:SupperAdmin">
					<f:then>
						<f:form.textfield property="sysKey" id="sysKey" class="form-control"/>
					</f:then>
					<f:else>
						<f:form.textfield property="sysKey" id="sysKey" class="form-control" disabled="disabled"/>
					</f:else>
				</f:security.ifHasRole>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="sysValue">Value</label>
			<div class="col-sm-5">
				<f:form.textarea property="sysValue" id="sysValue" rows="5" class="form-control" />
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="englishLanguage">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="sysValue">Value</label>
			<div class="col-sm-5">
				<f:form.textarea property="translations.en.sysValue" id="sysValue" rows="5" class="form-control" />
			</div>
		</div>
	</div>
</div>