/*
 * We can override foundation variables like those
 *
 * $header-font-color: #222 !default;
 *
 * by just leaving out the !default and putting the "new" value here
 */

$body-font-family: "maxlf-regular", "Helvetica", Helvetica, Arial, sans-serif;
$primary-color: #86ce35 !default;
$base-font-size: 14px;
$global-radius: 3px !default;
$link-background-color: #f5f5f5 !default;
$link-font-color: #6f6f6f !default;
$link-hover-background-color: #c0c0c0 !default;
$link-hover-font-color: $link-background-color;
/* Background color for the top bar */
$topbar-bg: #fff;
$topbar-border-color: #ddd;

$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;
$topbar-link-bg-hover: $topbar-bg;
$topbar-link-bg-active: $topbar-bg;
$topbar-element-height: 46px;

$button-group-border: 1px solid #86cc35;
$button-group-active-background-color: #ffffff;
$button-group-active-color: #000000;

// Fix width of row - not sure whether that's a good idea...
$row-width: none;
