<div class="form-group">
	<div class="col-sm-5 col-sm-offset-2">
		<f:form.submit class="btn btn-primary submit" value="Update" />
		<f:link.action action="index" controller="{controller}" class="btn btn-default cancel">Cancel</f:link.action>
	</div>
	<div class="modal fade" id="confirmSubmit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Update</h4>
				</div>
				<div class="modal-body">
					Are you sure want to update?
				</div>
				<div class="modal-footer">
					<button type="button" id="confirmSubmitOk" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="confirmCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="canelTitle">Cancel</h4>
				</div>
				<div class="modal-body">
					Are you sure want to cancel?
				</div>
				<div class="modal-footer">
					<button type="button" id="confirmCancelOk" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>