<f:layout name="Default" />

<f:section name="Title">New seed</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new seed:</p>

	<f:form action="create" objectName="newSeed">
		<ol>
			<li>
				<label for="name">Seed</label>
				<f:form.textfield property="name" id="name" />
			</li>
			<li>
				<label for="orderItem">Order</label>
				<f:form.textfield property="orderItem" id="orderItem" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>