<f:layout name="Default" />

<f:section name="Title">{seed.name}</f:section>

<f:section name="Content">
	<div class="seedDetial">
		<p><b>Name</b> : {seed.name}</p>
		<p><b>Quantity(Kg)</b> : {seed.quantity}</p>
	</div>
	<br/>
	<h3>Sub seed</h3>
	<div class="pull-right"><f:link.action action="new" arguments="{parentSeed: seed}" class="btn btn-primary btn-sm">
		<span class="glyphicon glyphicon-plus"></span> Create New Seed</f:link.action>
	</div>
	<f:if condition="{childrenSeeds}">
		<f:then>
			<div class="col-sm-6">
				<table class="table" id="sortable">
					<thead>
						<tr>
							<th id="col-name">Name</th>
							<th>Quantity(Kg)</th>
							<th colspan="2">Action</th>
						</tr>
					</thead>
					<tbody>
					<f:for each="{childrenSeeds}" as="childSeed" iteration="iterators">
						<tr id="recordsArray_{childSeed.orderItem}">
							<td>
								<f:link.action action="show" name="item" id="{childSeed.identifier}" arguments="{seed: childSeed}">{childSeed.name}</f:link.action>
							</td>
							<td>
								{childSeed.quantity}
							</td>
							<td>
								<f:link.action action="edit" arguments="{seed: childSeed}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span></f:link.action>

								<f:form action="delete" arguments="{seed: childSeed}" class="delete-icon">
									<button class="btn btn-danger btn-xs delete-confirmation" type="submit">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</f:form>
							</td>
						</tr>
					</f:for>
					<tr class="hidden">
						<td><f:form.hidden name="orderType" id="type" value="children" /></td>
						<td><f:form.hidden name="parent" id="parent" value="{seed.identifier}" /></td>
					</tr>
					</tbody>
				</table>
			</div>
		</f:then>
		<f:else>
			<p>No seeds created yet.</p>
		</f:else>
	</f:if>
</f:section>